<h1>Photogram</h1>
<p>
  <%= link_to "New Post", new_post_path %>
</p>
<% @posts.each do | post | %>
  <p>
  <%= image_tag post.image.url(:medium) %>
  </p>
  <p>
  <%= post.caption %>
  </p>
<% end %>
